div {
  height: 30px;
  width: 30px;
  background-color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.square {
  height: 50px;
  width: 50px;
  background-color: yellow;
}

.square.blue {
  background-color: blue;
}

div {
  height: 50px;
  width: 50px;
  background-color: yellow;
}
.circle {
  border-radius: 50%;
}
